@import "compass/css3";

@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");
@import url(https://fonts.googleapis.com/css?family=Lato:300,400,600,700|Play:400,700|Open+Sans+Condensed:300,600|Open+Sans:400,300,600,700);

* {
  @include box-sizing(border-box);  
}

html {
  background-color: #ddd;
}

body {
  font-family: "Open Sans";
  font-size: 16px;
}

@mixin clearfix() {
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}        
      
.row {
  margin: 20px;
  
  @include clearfix();
  
  .box {
    display: none;
    float: left;
    position: relative;
    width: 23%;
    height: 100px;
    margin: 1%;
    color: White;
    overflow: hidden;
    @include border-radius(4px);
    @include box-shadow(0 0 8px rgba(black, 0.3));
    
    &.purple {
      background-color: #A48AEB;
    }

    &.blue {
      background-color: #6BB8E8;
    }

    &.orange {
      background-color: #EB9561;
    }

    &.green {
      background-color: #53E082;
    }

    .value {
      position: absolute;
      top: 8px;
      right: 8px;
      font-size: 2.2rem;
    }

    .title {
      position: absolute;
      top: 50px;
      right: 8px;
      font-size: 1.1rem;
      font-weight: 300;
    }

    .viewMore {
      position: absolute;
      left: 0; right: 0; bottom: 0px;
      text-align: center;
      height: 24px;
      line-height: 24px;
      vertical-align: middle;
      background-color: rgba(Black, 0.1);
      font-size: 0.8rem;
      cursor: pointer;
      
      @include transition(all linear .2s);
    }
    
    &:hover .viewMore {
      background-color: rgba(Black, 0.2);
      bottom: 0px;
    }
    
    &:before {
      font-family: FontAwesome;
      content: "\f007";
      position: absolute;
      left: 6px;
      top: 6px;
      
      font-size: 4.0rem;
      color: rgba(White, 0.25);
    }
    
    &.icon-check:before {
      content: "\f046";
    }

    &.icon-quote:before {
      content: "\f10e";
    }
    
    &.icon-graph:before {
      content: "\f201";
    }
  }
}
