.row
  .box.purple.icon-check
    .value(data-value="250") 0
    .title Orders
    .viewMore View more »
    
  .box.blue.icon-user
    .value(data-value="300") 0
    .title Users
    .viewMore View more »
    
  .box.orange.icon-quote
    .value(data-value="40") 0
    .title Comments
    .viewMore View more »
    
  .box.green.icon-graph
    .value(data-value="25") 0
    .title Profits
    .viewMore View more »